body {
  color: #000000;
  background: #C3DCFA;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: 0.02em
}
h1 {
  text-align: center;
  font-size: 175%;
  letter-spacing: 0.05em;
  text-decoration: underline;
}
h2 {
  color: #8daacc;
  text-align: center;
  letter-spacing: 0.05em;
}
h5 {
  color: #8daacc;
  text-align: center;
  width: 500px;
  margin: auto;
}
#menu {
  list-style: none;
  padding-left: 0;
}
#menu li {
  display: inline;
}
ul {
  list-style: none;
  margin: 0px auto auto auto;
  text-align: center;
 
}
li {
  margin: 15px;
  font-size: 125%;
  text-align: center;
  
}
ul>li:nth-child(odd){
    font-weight:bold;
}​
.writing {
  width: 720px;
  margin: 0px auto;
}
.contact {
  width: 300px;
  margin: 20px auto;
  border: 2px solid #C3DCFA;
  line-height: 1.6em;
  text-align: center;
}
.aboutme {
    width: 50%;
    margin: 20px auto;
    text-align: center;
}
a {
  color: #4b4b4b;
  text-decoration: none;
  text-shadow: .75px .75px 1px rgb(255, 255, 255);
}
a:hover {
  color: #98a2ad;
  display: visible;
}
.contact a .email{
  color: #76a8e3;
  text-decoration: underline;
}
.logo {
  display: block;
  margin: 0px auto 5px;
  width: 300px;
}
.big_logo {
  display: block;
  margin: 0px auto 15px;
  width: 250px;
}
.gifs {
  columns: 3 auto;
  gap: 70px;
  margin: 50px auto 0;
  padding: 0 30px;
  max-width: 1200px;
}
.gifs a figure {
  margin: 0;
  break-inside: avoid;
}

.image_wrapper {
  width: 100%;
  position: relative;
  height: 294px;
}

.gifs a figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}
.main_image_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#main_image {
  width: 450px;
}
table {
  border-collapse: collapse;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
th, td {
  border: 1px solid #4b4b4b;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #C3DCFA;
  font-weight: bold;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #C3DCFA;
}

.images {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.images img {
  width: 33%;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
p {
  width: 75%;
  margin: auto auto 30px;
  text-align: center;
}
.static {
  position: absolute;
  background: white;
  inset: 0;
}
.static:hover {
  opacity:0;
}
.thoughtrecord {
  width: 50%;
  margin: 20px auto;
}
ul.no-shadow {
  text-shadow: none;
}
p {
    font-size: 125%;
    text-decoration: underline;
}